/target
saras.toml
saras.pid
lpsql.toml
elt.toml
elt.sock
local-files
db/schema/
static/js/
static/style/
front/ext/
front/js/fr9
front/js/admin
front/js/common
front/style/admin
front/templates/admin
manage/

# vim
*.swp
*.swn
*.swo

# py
__pycache__/
.pdm.toml
.pdm-python
venv
updb_conf.py

.env
